@use "../../styles/common";

.list {
  position: relative;
  height: calc(100vh - var(--swh-top-bar-height));
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.search_wrap {
  flex-shrink: 0;
  margin-bottom: 6px;
}

.tree_wrap {
  flex: 1;
  overflow: auto;
  min-height: 0;
}

:global(.platform-win32) {
  .tree_wrap {
    @include common.swh-scroll-y();
  }
}
